* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*color zielony z jpega #27c7ab*/
.container {
  width: 1000px;
  margin: 0 auto;
}

.clearfix:before .clearfix:after {
  display: block;
  content: "";
  clear: both;
}
